@import "setup";

// FONTS
// font-family: 'Bilbo', cursive;
// font-family: 'IM Fell English', serif;
// font-family: 'Piedra', cursive;

// Landing Page //
header {
  background-image: url(../assets/images/svg/lotr2/LOTR10.png);
  background-color: black;
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-wrap: wrap;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 60%;
  margin-top: 8rem;
}

.heading {
  margin-bottom: 25px;
  margin-top: 3rem;
  font-family: "IM Fell English", serif;
  font-size: 60px;
  font-weight: 900;
  color: #c4b479;
}

.landingText {
  margin-bottom: 50px;
  font-size: 20px;
}

.buttonStart {
  text-decoration: none;
  font-size: 2rem;
  background-color: transparent;
  border: solid 0.25rem #f5142e;
  padding: 0.75rem 2.5rem;
  border-radius: 20px;
  font-family: "Piedra", cursive;
  cursor: pointer;
}

.buttonStart:visited {
  color: whitesmoke;
}
.buttonStart:hover {
  color: #f5142e;
  border: solid 0.25rem whitesmoke;
}

// Quiz Page //

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  background-color: #b9a37e;
}

.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  padding: 3rem 6rem 2rem 6rem;
  background-color: #82a775;
  border-radius: 8rem;
  box-shadow: 5px 10px #6a967d;
}

h3 {
  color: darkslategray;
  font-family: "IM Fell English", serif;
  font-size: 45px;
  padding-bottom: 1.25rem;
  font-weight: bolder;
}

.option {
  color: black;
  font-size: 30px;
  font-weight: normal;
  width: 100%;
  font-family: "Piedra", cursive;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
}

p.option:hover {
  font-size: 3rem;
  color: whitesmoke;
}

.correct {
  color: rgb(47, 255, 64);
  font-family: "Piedra", cursive;
  font-size: 50px;
  font-weight: normal;
}
.wrong {
  color: crimson;

  font-family: "Piedra", cursive;
  font-size: 50px;
  font-weight: normal;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  p {
    cursor: pointer;
    text-align: center;
    padding-top: 1rem;
  }
}

.answer-msg {
  color: whitesmoke;
  font-family: "Bilbo", cursive;
  font-size: 3rem;
  padding-bottom: 1rem;
}
.nextBtn {
  background-color: #f5142e;
  width: 12rem;
  border-radius: 10px;
  border: none;
  color: whitesmoke;
  padding: 0.25rem;
  margin-top: 0.25rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.75rem;
  text-transform: uppercase;
  transition: 0.25s;
  transition-timing-function: ease-out;
  font-family: "Piedra", cursive;
}

.nextBtn:hover {
  background-color: transparent;
  border: solid 3px #c4b479;
  color: #f5142e;
  font-size: 2rem;
}

.scoreContainer {
  padding: 1.5rem;

  .score {
    color: black;
    font-family: "bilbo";
    font-weight: 900;
    font-size: 50px;
    padding-top: 0.5rem;
  }
}

// Result Page //

section {
  background-image: url(../assets/images/middle-earth-map.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.resultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30%;
  width: 40%;
  background-color: rgb(115, 149, 160);
  opacity: 0.6;
  border: solid 2px darkslategray;
  border-radius: 8rem;
  box-shadow: 5px 5px whitesmoke;
}

.finalMessage,
.finalScore {
  color: black;
  padding-bottom: 0.75rem;
  font-family: "Bilbo", cursive;
  font-weight: bolder;
  font-size: 2rem;
}

.resetBtn {
  background-color: #f5142e;
  width: 12rem;
  border-radius: 10px;
  border: none;
  color: whitesmoke;
  padding: 0.25rem;
  margin-top: 0.25rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.75rem;
  text-transform: uppercase;
  transition: 0.25s;
  transition-timing-function: ease-out;
  font-family: "Piedra", cursive;
}

.resetBtn:hover {
  background-color: transparent;
  // border: solid 3px #c4b479;
  color: #f5142e;
  font-size: 2rem;
}
